<h1 class='admin-movie-orders-header'>All Orders for <%= @movie.title %></h1>

<div class='admin-movie-orders'>
  <table class='admin-movie-orders-table'>
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Name</th>
        <th>Date</th>
        <th>Showtime</th>
        <th>Price</th>
        <th>Auditorium</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.first_name %> <%= order.last_name %></td>
        <td><%= format_date(order.showtime.start_time) %></td>
        <td><%= format_time(order.showtime.start_time) %></td>
        <td><%= order.showtime.price %></td>
        <td><%= order.showtime.auditorium.title %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
