<h1 id='admin-auditoriums-header' class='text-center well'>Auditoriums</h1>

<div id='admin-auditoriums'>
  <table id='admin-auditoriums-table' class='table table-striped table-bordered table-condensed'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Capacity</th>
        <th>Auditorium</th>
      </tr>
    </thead>
    <tbody>
      <% @auditoriums.each do |auditorium| %>
      <tr>
        <td><%= auditorium.id %></td>
        <td><%= auditorium.title %></td>
        <td><%= auditorium.capacity %></td>
        <td><%= link_to 'Manage', edit_admin_auditorium_path(auditorium) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <div class='text-center'>
    <%= link_to 'Return to Admin Tools', admin_root_path %>
  </div>
</div>
