<h1 class='admin-root-header text-center well'>
  Admin Tools
</h1>
<br>
<li class="list-group text-center list-unstyled">
  <ul class="list-group-item"><%= link_to 'Auditoriums', admin_auditoriums_path %></ul>
  <ul class="list-group-item"><%= link_to 'Movies and Order History', admin_movies_path %></ul>
  <ul class="list-group-item"><%= link_to 'Orders', admin_orders_path %></ul>
  <ul class="list-group-item"><%= link_to 'Create New Auditorium', new_admin_auditorium_path %></ul>
  <ul class="list-group-item"><%= link_to 'Create New Movie', new_admin_movie_path %></ul>
</li>
