<div id='new-movie-page'>
  <h1 id='new-movie-header' class='text-center well'>Add New Movie</h1>
  <br>
  <div id='new-movie-form' class='well new-form text-center'>
    <%= form_for @movie, url: admin_movies_path, method: :create do |f| %>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :minutes, 'Minutes' %>
    <%= f.text_field :minutes %>
    <br>
    <%= f.label :rating, 'Rating' %>
    <%= f.text_field :rating %>
    <br>
    <%= f.label :genre, 'Genre' %>
    <%= f.text_field :genre %>
    <br>
    <%= f.label :image_url, 'Image URL' %>
    <%= f.text_field :image_url %>
    <br>
    <%= f.submit 'Create Movie' %>
    <% end %>
    <br>
  </div>
</div>
<br>
<div class='text-center'>
  <%= link_to 'Return to Admin Tools', admin_root_path %>
</div>
