<h1 id='showtimes-header'>Movies Playing On <%= @date.strftime('%-m/%-d/%Y') %></h1>

<div id='showtimes-by-date'>
  <table id='showtimes-table'>
    <thead>
      <tr>
        <th>Picture</th>
        <th>Title</th>
        <th>Rating</th>
        <th>Length</th>
        <th>Genre</th>
        <th>Showtimes</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
      <tr>
        <td><%= image_tag(movie.image_url, size: 150) %></td>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.minutes %></td>
        <td><%= movie.genre %></td>
        <td>
          <% movie.showtimes.each do |showtime| %>
          <% if tickets_available?(showtime) %>
            <%= link_to format_time(showtime.start_time), \
              new_order_path(showtime: showtime) %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
